---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Semesters from '../components/Semesters.svelte';
---

<Layout title="Frontend Design & Development">
	<main>
		<h1>Programma 2024-2025</h1>
		<p>
			Het programma van FDND bestaat uit 4 semesters. De eerste drie semesters bestaan uit 6 sprints, 
			elke sprint heeft een eigen thema en opdrachten. Het 4e semester is de Meesterproef, dan laat je 
			zien dat je alle HBO frontend skills en vaardigheden beheerst.
		</p> 

		<h2>Semesters & Sprints</h2>

		<div class="semesters">
			<div class="semester"> 
				<h3>Semester 1: Static Web</h3>
				<ul role="list">
					<Card
						title="Sprint 1:"
						body="Your Tribe"
					/>
					<Card
						title="Sprint 2:"
						body="The Client"
					/>
					<Card
						title="Sprint 3:"
						body="All Human"
					/>
					<Card
						title="Sprint 4:"
						body="Look and Feel"
					/>
					<Card
						title="Sprint 5:"
						body="Fix the Flow"
					/>
					<Card
						title="Sprint 6:"
						body="The Startup"
					/>
				</ul>
			</div>
			<div class="semester">
				<h3>Semester 2: Data-Driven Web</h3>
				<ul role="list">
					<Card
						title="Sprint 7:"
						body="Connect Your Tribe"
					/>
					<Card
						title="Sprint 8:"
						body="Server-Side Rendering"
					/>
					<Card
						title="Sprint 9:"
						body="The Web is for Everyone"
					/>
					<Card
						title="Sprint 10:"
						body="User Experience"
					/>
					<Card
						title="Sprint 11:"
						body="Pleasurable AI"
					/>
					<Card
						title="Sprint 12:"
						body="Proof of Concept"
					/>
				</ul>
			</div>
			<div class="semester">
				<h3>Semester 2: Data-Driven Web</h3>
				<ul role="list">
					<Card
						title="Sprint 13:"
						body="Your Tribe for Life"
					/>
					<Card
						title="Sprint 14:"
						body="Lose Your Head"
					/>
					<Card
						title="Sprint 15:"
						body="Choices, Choices"
					/>
					<Card
						title="Sprint 16:"
						body="Don't Repeat Yourself"
					/>
					<Card
						title="Sprint 17:"
						body="User Needs"
					/>
					<Card
						title="Sprint 18:"
						body="Release Candidate"
					/>
				</ul>
			</div>
			<div class="semester">
				<h3>Semester 4: Meesterproef</h3>
				<ul role="list">
					<Card
						title="Sprint 19:"
						body="Free Space"
					/>
					<Card
						title="Sprint 20:"
						body="Final Sprint"
					/>
				</ul>
			</div>
		</div>
		<Semesters />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100vw;
		max-width: calc(100% - 2rem);
		line-height: 1.6;
	}
	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 0.5em;
	}
	h2 {
		margin-top: 1em;
	}
	p {
		max-width: 77ch;
	}
	.semesters {
		display: flex;
		flex-wrap: wrap;
		gap: 2em;
	}
</style>
