---
interface Props {
	title: string;
	body: string;
}

const {title, body } = Astro.props;
---

<li class="link-card">
	<h2>
		{title}
	</h2>
	<p>
		{body}
	</p>
</li>
<style>
	.link-card {
		display: flex;
		padding: 1em;
		border-radius: 10px;
		width: 20em;
		min-width: 17em;
		border: 1px solid black;
		margin: 0.25em 0;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
	}
	p {
		align-self: center;
		margin-left: 0.5em;
	}
	.link-card:hover {
		background: var(--lavender);
	}
</style>
