<footer>
	<nav>
		<h2>Archief</h2>
		<p>
			Hier kun je het programma van voorgaande studiejaren bekijken. 
		</p>
		<ul>
			<li><a href="https://2223.programma.fdnd.nl">Programma 2022-2023</a></li>
			<li><a href="https://2324.programma.fdnd.nl">Programma 2023-2024</a></li>
		</ul>
	</nav>

	<nav>
		<h2>FDND Microsites</h2>
		<p>
			FDND maakt gebruik van microsites. 
			Microsites zijn kleine websites ter ondersteuning van een campagne, informatie over een product, dienst of voor een ander specifiek doel.
		</p>
		<ul>
			<li><a href="https://fdnd.nl">FDND.nl</a></li>
			<li><a href="https://contact.fdnd.nl">Contact en routebeschrijving</a></li>
			<li><a href="https://programma.fdnd.nl">Programma</a></li>
			<li><a href="https://partners.fdnd.nl">Partners</a></li>
			<li><a href="https://niveaumatrix.fdnd.nl">Niveaumatrix</a></li>
			<li><a href="https://docs.fdnd.nl">Documenten</a></li>
		</ul>
	</nav>
</footer>

<style>
    footer {
        display: flex;
        padding: 3em;
        justify-content: center;
    }

    nav {
        margin: 2em;
    }

    ul {
        display: flex;
        max-width: 55ch;
        flex-wrap: wrap;
        gap: 2em 1em;
    }

    p {
        max-width: 55ch;
        margin: 0.25em 0 2em 0;
    }

    a {
        background: white;
        padding: 0.5em;
    }
</style>
