<header>
    <nav>
        <ul>
            <li>
                <a href="/">Programma 2425</a>
            </li>
            <li>
                <a href="/">Sprint 3</a>
            </li>
            <li>
                <a href="/">Sprint 15</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    nav {
        display: flex;
        justify-content: end;
    }
    ul {
        background: white;
        border-radius: 15px 15px 0 0;
        width: fit-content;
        display: flex;
        padding: 1em;
    }

    li {
        margin: 0 2em;
    }
</style>